# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [ ]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
browser = Browser('chrome')

### Step 1: Visit the Website

In [ ]:
# Visit the website
url = 'https://static.bc-edx.com/data/web/mars_facts/temperature.html'
browser.visit(url)

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

In [ ]:
# Create a Beautiful Soup Object
html = browser.html
mars_soup = soup(html, 'html.parser')

In [ ]:
# Extract all rows of data
rows = mars_soup.find_all('tr', class_ = "data-row")
rows

In [ ]:
# Store the table
list_of_rows = []

# Create a loop
for row in rows:
    rows_loop = [td.text for td in row.find_all('td')]
    list_of_rows.append(rows_loop)

list_of_rows

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Hereâ€™s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [ ]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
mars_df = pd.DataFrame(list_of_rows,columns=["id", "terrestrial_date", "sol", "ls", "month", "min_temp", "pressure"])

In [ ]:
# Confirm DataFrame was created successfully
mars_df

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

In [ ]:
# Examine data type of each column
mars_df.info()

In [ ]:
# Change data types for data analysis
mars_df["terrestrial_date"] = mars_df["terrestrial_date"].apply(pd.to_datetime)
mars_df[['min_temp', 'pressure']] = mars_df[['min_temp', 'pressure']].astype(float)

In [ ]:
mars_df.info()

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [ ]:
# 1. How many months are there on Mars?
number_of_mars_months = mars_df['month'].nunique()

print(f"Number of months on Mars: {number_of_mars_months}")

In [ ]:
# 2. How many Martian days' worth of data are there?
martian_days_data = mars_df['sol'].nunique()

print(f"Martian days' worth of data: {martian_days_data}")

In [ ]:
# 3. What is the average low temperature by month?
avg_low_temp_by_month = pd.DataFrame(mars_df.groupby('month')['min_temp'].mean())
avg_low_temp_by_month

In [ ]:
# Plot the average temperature by month
plt.bar(avg_low_temp_by_month.index, avg_low_temp_by_month['min_temp'])
plt.title('Avergae Temperature by Month')
plt.xlabel("Months")
plt.ylabel("Temperature")

plt.show()

In [ ]:
# Identify the coldest and hottest months in Curiosity's location
print (f"The coldest month: {avg_low_temp_by_month['min_temp'].idxmin()}")

print (f"The hottest month: {avg_low_temp_by_month['min_temp'].idxmax()}")

In [ ]:
# 4. Average pressure by Martian month
average_pressure_by_month = pd.DataFrame(mars_df.groupby('month')['pressure'].mean())
average_pressure_by_month

In [ ]:
# Plot the average pressure by month
plt.bar(average_pressure_by_month.index, average_pressure_by_month['pressure'])
plt.title('Avergae Pressure by Month')
plt.xlabel("Months")
plt.ylabel("Temperature")

plt.show()

In [ ]:
# 5. How many terrestrial (earth) days are there in a Martian year?
plt.figure(figsize=(20,8))
plt.plot(mars_df.terrestrial_date,mars_df.min_temp)
plt.xlabel('Date')
plt.ylabel('Minimum Temperature')
plt.title('Minimum Temperature on Mars per Earth Day')

plt.show()

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [ ]:
# Write the data to a CSV
mars_csv = mars_df.to_csv("./Mars_Weather.csv",index=False)

In [ ]:
browser.quit()